<%= render "shared/header" %>

<%# チーム・サークルの概要 %>
<div class="team-show">
  <div class="team-box">
    <h2 class="name">
      <%= @team.name %>
    </h2>
    <div class='overview-content'>
      <ul class='team-info'>
        <li>
          <span>活動内容：</span>
          <%= @team.activity %>
        </li>
        <li>
          <%= link_to " #{@team.facebook_url}", @team.facebook_url, class:'facebook-url' %>
        </li>
        <li>
          <%= link_to " #{@team.twitter_url}", @team.twitter_url, class:'twitter-url' %>
        </li>
        <li>
          <%= link_to " #{@team.twitter_url}", @team.instagram_url, class:'instagram-url' %>
        </li>
      </ul>
      <div class='team-img-content'>
        <%= image_tag @team.image, class:"team-box-img" %>
      </div>
    </div>

    <div class="team-explanation-box">
      <h3 class='explanation-title'>
        チーム・サークルの紹介コメント
      </h3>
      <div class='explanation-content'>
        <%= @team.content %>
      </div>
    </div>
    <% if @team.users.ids.include?(current_user.id) %>
      <%= link_to 'チーム情報の編集', edit_team_path(@team.id), method: :get, class: "team-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', team_path(@team.id), method: :delete, class:'team-destroy' %>
    <% end %>
  </div>
  <%# /チーム・サークルの概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%# image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
</div>

<%= render "shared/footer" %>