<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    いつでもどこでも、簡単に施設予約ができるアプリ
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
  </div>
</div>
<%# //下部広告部分 %>

<div class='footer'>
  <h2 class='footer-content-head'>ShareGについて</h2>
  <div class='footer-contents'>
    <div class='shareg-details'>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'ShareG利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='shareg-details'>
      <ul>
        <li><%= link_to 'ShareGガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ShareGロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© ShareG</p>
</div>