<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='header-bar'>
    <div class='header-bar-left'>
      <div class='logo'>
        ShareG
      </div>
    </div>
    <div class='header-bar-right'>
      <div class='user-name'>
        <% if user_signed_in? %>
          <%= link_to current_user.nickname, '#', class:'current-user-name' %>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path, class:'user-session' %>
        <% end %>
      </div>
      <div class='user-status'>
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'user-session' %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class:'user-session' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class='nav'>
    <nav>
      <ul>
        <li class=”current”><a href=”#”>TOP</a></li>
        <li><a href=”#”>施設を探す</a></li>
        <% if user_signed_in? && current_user.admin %>
          <li>
            <%=link_to '施設を登録する', new_facility_path %>
          </li>
        <% else %>
          <li><a href=”#”>チーム作成</a></li>
          <li><a href=”#”>チームページ</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>