<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='header-bar'>
    <div class='header-bar-left'>
      <div class='logo'>
        ShareG
      </div>
    </div>
    <div class='header-bar-right'>
      <div class='user-name'>
        <% if user_signed_in? %>
          <%= link_to current_user.nickname, '#', class:'current-user-name' %>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path, class:'user-session' %>
        <% end %>
      </div>
      <div class='user-status'>
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'user-session' %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class:'user-session' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class='nav'>
    <nav>
      <ul class='nav-lists'>
        <li class=”current”>
          <%= link_to 'TOP', root_path %>
        </li>
        <li>
          <%= link_to '施設を探す', root_path(anchor: 'search-facility') %>
        </li>
        <% if user_signed_in? && current_user.admin %>
          <li>
            <%=link_to '施設を登録する', new_facility_path %>
          </li>
        <% elsif user_signed_in? %>
          <li>
            <%= link_to 'チーム作成', new_team_path %>
          </li>
          <li class='team-select' id='team-select'>チームページ</li>
        <% end %>
      </ul>
    </nav>
    <% if user_signed_in? && (@user_teams != nil) %>
      <ul class='hidden-lists' id='hidden-lists'>
        <% @user_teams.each do |team| %>
          <li class='hidden-list'>
            <%= link_to "#{team.name}", team_path(team.id) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</header>