<%= render "shared/header" %>
<div class='main'>
  <div class='service-explanation'>

    <h1 class='service-title'>
      Shareで日本を元気に
    </h1>
    <p class='service-subtitle1'>
      ShareGは施設の管理・予約
    </p>
    <p class='service-subtitle2'>
      グループの紹介ができるアプリです
    </p>
    <ul class='top-pictures'>
      <li class='list'>
        <img class='list-pic' src='/assets/badminton.jpg' width='100%' height='100%'>
      </li>
      <li class='list'>
        <img class='list-pic' src='/assets/swim.jpg' width='100%' height='100%'>
      </li>
      <li class='list'>
        <img class='list-pic' src='/assets/basketball-sunset.jpg' width='100%' height='100%'>
      </li>
    </ul>

    <h2 class='available-thing'>
      <span class='text-color-orenge'>ShareG</span> でできること
    </h2>
    <ul class='function-lists'>
      <li class='list'>
        <img class='list-pic' src='/assets/search.jpg' width='100%' height='250px'>
        <h3 class='function-list-text'>施設を探して <span class='text-color-orenge'>簡単予約</span></h3>
        <p class='function-list-description'>スマホで検索して、いつでも予約ができる！</p>
      </li>
      <li class='list'>
        <img class='list-pic' src='/assets/check-pc.jpg' width='100%' height='250px'>
        <h3 class='function-list-text'>Webで予約を <span class='text-color-orenge'>一括管理</span></h3>
        <p class='function-list-description'>管理している施設の予約状況をチェックするだけ！</p>
      </li>
      <li class='list'>
        <img class='list-pic' src='/assets/network.jpg' width='100%' height='250px'>
        <h3 class='function-list-text'><span class='text-color-orenge'>メンバー募集</span> も可能</h3>
        <p class='function-list-description'>チームメンバーの募集やチーム同士の交流も！</p>
      </li>
    </ul>
  </div>

  <div class='search-facilities'>
    <h4 class='search-title'>
      施設一覧
    </h4>
    <div class='search-content'>
      <%= form_for @facility do |f| %>
        <div class='weight-bold-text'>
          都道府県
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class:"select-box", id:"facility-prefecture"}) %>
        <div class='weight-bold-text'>
          市区町村
        </div>
        <%= f.select(:city, @temp_data, {include_blank: "---"}, {class:"select-box", id:"facility-city"}) %>
        <div class='weight-bold-text'>
          施設名
        </div>
        <%= f.select(:name, @temp_data, {include_blank: "---"}, {class:"select-box", id:"facility-name"}) %>
        <div class='weight-bold-text'>
          エリア名
        </div>
        <%= f.select(:area, @temp_data, {include_blank: "---"}, {class:"select-box", id:"facility-area"}) %>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>